{
  "openapi": "3.1.0",
  "info": {
    "title": "Spansh API",
    "description": "API documentation for [https://spansh.co.uk/api](https://spansh.co.uk/api).",
    "version": "0.0.1"
  },
  "servers": [
    {
      "url": "https://spansh.co.uk/api",
      "description": "Spansh production server"
    }
  ],
  "paths": {
    "/dump": {
      "get": {
        "summary": "Fetch all relevant data for a particular system in the galaxy",
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Dump of the system in the same format as the dump files available at https://spansh.co.uk/dumps",
                  "properties": {
                    "system": {
                      "$ref": "./model.openapi.json#/components/schemas/DumpSystem"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Details about the error",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Description of the error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
